.jkeyboard {
    display: none;
    position: absolute;
    bottom: -25%;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    z-index: 999999999999;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 -25%;
}

.keyboard-row {
    margin: 5px 0;
    white-space: nowrap;
}

.key {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 1%;
    margin: 2px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 6%;
    font-size: 20px;
}

.key.bksp,
.key.tab,
.key.enter,
.key.shift,
.key.accept,
.key.cancel{
    width: 15%;
	font-size: 17px;
	padding: 1.2%;
}

.key.space{
    width: 50%;
}
